body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  font-size: 70px;
  margin: 50px auto 0 auto;
  font-family: 'Roboto', sans-serif;
  color: white;

}

h2 {
  font-family: 'Arial', sans-serif;
  font-size: 2.5rem;
  color: #1A508B;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Arial', sans-serif;
  color: #1A508B;

}

p {
    line-height: 2;
}

a {
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;

}

hr {
  border: dotted #5089C6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.top-container {
  background-color: #396EB0;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;

}

.bottom-container {
  background-color: #396EB0;
  padding: 50px 0 20px;

}
.pro{
  text-decoration: underline;
}

.intro{
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.img_photo {
  border-radius: 50%
}

.chip-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.eeprom-img{
  position: relative;
  left: 0px;
  bottom: 30px;
  width: 15%;

}

.coding-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
   background-color: #035397;
   border: solid #035397 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   background: #1E62D0;
   border: solid #5089C6 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
